@import '../../styles/variable';

.option-list {
  font-size: 14px;
  width: calc(100% - 30px);
  margin: 40px 15px 0;
  border-radius: 8px 8px 0 0;
  background: white;
  overflow: hidden;
  box-shadow: 0px -1px 20px 0px rgba(220, 220, 220, 0.75);
}

.option-item {
  color: #94969e;
  padding: 10px 16px;
  border-bottom: 1px solid #ebecec;
}