@import '../../styles/variable';
@import '../../styles/utils';

$horizon-padding: 30px;

.option-list {
    font-size: #{rem(14px)};
    width: calc(100% - #{$horizon-padding * 2});
    margin: #{em(40px)} $horizon-padding 0;
    border-radius: #{em(8px)} #{em(8px)} 0 0;
    background: white;
    overflow: hidden;
    box-shadow: 0px -1px 20px 0px rgba(220, 220, 220, 0.75);
}
