@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../assets/fonts/NotoSans/NotoSansKR-Thin.woff2) format('woff2'),
  url(../assets/fonts/NotoSans/NotoSansKR-Thin.woff) format('woff'),
  url(../assets/fonts/NotoSans/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/NotoSans/NotoSansKR-Light.woff2) format('woff2'),
  url(../assets/fonts/NotoSans/NotoSansKR-Light.woff) format('woff'),
  url(../assets/fonts/NotoSans/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/NotoSans/NotoSansKR-Regular.woff2) format('woff2'),
  url(../assets/fonts/NotoSans/NotoSansKR-Regular.woff) format('woff'),
  url(../assets/fonts/NotoSans/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/NotoSans/NotoSansKR-Medium.woff2) format('woff2'),
  url(../assets/fonts/NotoSans/NotoSansKR-Medium.woff) format('woff'),
  url(../assets/fonts/NotoSans/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/NotoSans/NotoSansKR-Bold.woff2) format('woff2'),
  url(../assets/fonts/NotoSans/NotoSansKR-Bold.woff) format('woff'),
  url(../assets/fonts/NotoSans/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(../assets/fonts/NotoSans/NotoSansKR-Black.woff2) format('woff2'),
  url(../assets/fonts/NotoSans/NotoSansKR-Black.woff) format('woff'),
  url(../assets/fonts/NotoSans/NotoSansKR-Black.otf) format('opentype');
}

body, input, button, a {
  font-family: 'Noto Sans KR', meiryo, sans-serif;
  overflow: hidden;
}
