@import '../../styles/variable';

.option-item {
  display: flex;
  align-items: center;
  color: #94969e;
  padding: 12px 16px;
  border-bottom: 1px solid #ebecec;
}

.option-name {
  display: inline-block;
  line-height: 22px;
}

.switch-wrap {
  display: inline-block;
  position: absolute;
  right: 10px;
  line-height: 16px;
}