@import '../../styles/variable';

.wrap {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  font-size: 90px;
  font-weight: 100;

  &:last-child {
    margin: 0;
  }

  &:hover {
    .up, .down {
      opacity: 0.6;
    }
  }
}

.hour {
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-left: -3px;
}

.label {
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  margin-left: 4px;
}

.minute {
  font-weight: 200;
  letter-spacing: -0.04em;
  margin-left: -3px;
}

@mixin button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  background: none;
  color: #6e748a;
  font-size: 14px;
  padding: 6px;
  cursor: pointer;
  opacity: 0.06;
  z-index: 5000;
  outline: none;

  &:hover {
    color: #f16b56;
  }
}

.up {
  @include button();
  top: -16px;
}

.down {
  @include button();
  bottom: -24px;
}
