@import '../../styles/variable';

.time-board {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 40px;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 0.08em;
  background: $lightBlue;
  color: $defaultColor;
}