@import '../../styles/variable';

.time-board {
  position: relative;
  text-align: center;
  padding-top: 24px;
  letter-spacing: 0.08em;
  background: #f9f9f9;
  color: $defaultColor;
}

.timer-wrap {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  font-size: 90px;
  font-weight: 100;

  &:last-child {
    margin: 0;
  }

  &:hover {
    .time-up, .time-down {
      opacity: 0.6;
    }
  }
}

@mixin timer-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  background: none;
  color: #6e748a;
  font-size: 14px;
  padding: 6px;
  cursor: pointer;
  opacity: 0.06;
  z-index: 5000;
  outline: none;

  &:hover {
    color: #f16b56;
  }
}

.time-up {
  @include timer-button();
  top: -16px;
}

.time-down {
  @include timer-button();
  bottom: -24px;
}

.hour {
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-left: -3px;
}

.time-label {
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  margin-left: 4px;
}

.min {
  font-weight: 200;
  letter-spacing: -0.04em;
  margin-left: -3px;
}

.sec {
  font-size: 12px;
  position: absolute;
  bottom: 13px;
  margin-left: -10px;
  letter-spacing: 0.1em;
}

.pause-btn-wrap {
  text-align: center;
  padding: 60px 0 40px 0;
}