@import '../../styles/variable';

@mixin hover--opacity {
  &:hover {
    opacity: 0.9;
  }
}

@mixin hover--red {
  &:hover {
    color: #e04644;
  }
}

@mixin icon {
  position: relative;
  top: 2px;
  border: 0;
  background: none;
  vertical-align: middle;
  font-size: 22px;
  color: $defaultColor;
  outline: none;
  cursor: pointer;
}

.icon {
  @include icon();
  @include hover--opacity();
}

.quit-icon {
  @include icon();
  @include hover--red();
}

.round-red {
  font-size: 14px;
  border-radius: 16px;
  padding: 8px;
  color: white;
  line-height: 12px;
  border: 0;
  background: #f16b56;
  box-shadow: 0 1px 1px 0 rgba(156, 156, 156, 0.75);
  outline: none;
  cursor: pointer;

  @include hover--opacity();
}

.skip {
  display: inline-block;
  font-size: 1rem;
  border: 0;
  background: none;
  color: white;
  padding: 6px 4px;
  border-bottom: 1px solid white;
  cursor: pointer;

  @include hover--opacity();
}