@import '../../styles/variable';
@import '../../styles/utils';

.time-board {
    position: relative;
    text-align: center;
    padding-top: #{em(16px)};
    background: $body-color;
    color: $default-color;
}
