@import '../../styles/variable';

.time-board {
  position: relative;
  text-align: center;
  padding-top: 16px;
  height: 100px;
  letter-spacing: 0.08em;
  background: #f9f9f9;
  color: $defaultColor;
}
