@import '../../styles/variable';

.time-board {
  position: relative;
  text-align: center;
  padding-top: 24px;
  height: 100px;
  letter-spacing: 0.08em;
  background: #f9f9f9;
  color: $defaultColor;
}

.pause-btn-wrap {
  text-align: center;
  padding: 60px 0 40px 0;
}
