@import '../../styles/variable';
@import '../../styles/utils';

.option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #94969e;
    padding: #{em(10px)} #{em(16px)};
    border-bottom: 1px solid #ebecec;
}
